body {
    background-color: rgb(146, 164, 242);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
a{
padding-left: 300px;
color:white;
}

img {
    width: 20%;
    text-align: center;
}

#logo {
    width: 20%;
    margin-bottom: 20px;
    padding-left: 860px;
}
h1{
    padding: 0px 0px 20px 280px;
    margin: -90px 0px 20px 0px;
    font-size: 55px;
    font-style: oblique;
}
h2{
    padding: 0px 0px 0px 40px;
    font-size: 30px;
    font-style: italic;
}
#intro {
width: 400px;
    padding-left: 40px;
}
.mySlides {
    padding-left: 600px;
    position: initial;
    display: none;
}
.mySlides img{
    width: 70%;
    height: 70%;
}
h3{
    display: block;
    font-size: 30px;
    font-style: italic;
    padding-left: 40px;
    }

.city{
    display: inline-block;
    background-color: rgb(118, 137, 222);
font-size: 25px;
font-style: italic;
 padding-right: 100%;
 padding-top: 20px;
 padding-bottom: 20px;
margin-top: 30px;
margin-bottom: 30px;
padding-left: 20px;
}
#city1{
float: left;
display: block;
    background-color: rgb(118, 137, 222);
font-size: 25px;
font-style: italic;
 padding-right: 1200px;
 padding-top: 20px;
 padding-left: 20px;
 padding-bottom: 20px;
margin-top: 30px;
margin-bottom: 30px;
color: white;
font-weight: 300;
}

#hourspara{
    display: block;
    padding-left: 40px;
}

#chinook{
    display: block;
padding: 0px 0px 20px 40px;
width: 350px;
}

#help{
    font-size: 20px;
    font-style: normal;
}

#contact{
padding-left: 40px;
width: 800px;
}

#shirt{
    margin-top: -340px;
    margin-left: 900px;
}
